
 
  @media only screen and (min-width:769px){
    .flex-items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
  } footer {
      width: 100%;
      text-align: center;
    }
  
  