@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(14, 32, 62);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav p a {
  font-size: 3rem;
  text-decoration: none;
  color: rgb(14, 32, 62);
  font-family: "Epilogue", sans-serif;
}

nav button {
  padding: 10px;
  width: 130px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #7fffd4;
  border: none;
  color: rgb(14, 32, 62);
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
}
nav button:hover {
  background-color: rgb(14, 32, 62);
  color: #7fffd4;
  box-shadow: 0px 0px 5px #7fffd4;
}
nav ul li {
  margin: 12px;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: #7fffd4;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
  font-family: "Epilogue", sans-serif;
}
nav ul li a:active {
  text-decoration: underline;
  text-decoration-color: #7fffd4;
}
nav p a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

#me {
  width: 300px;
}
.name {
  font-size: 5rem;
  font-family: "Epilogue", sans-serif;
  color: white;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 div {
  margin: 15px;
}
.welcome img {
  margin-bottom: 50px;
}
.section1 p {
  line-height: 30px;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  line-height: 70px;
  margin: 20px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 130px;
}

.home img {
  width: 350px;
}
.items img {
  width: 50px;
}

.home .enter p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #7fffd4;
  color: rgb(14, 32, 62);
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
}
.home .enter p:hover {
  background-color: white;
  color: rgb(14, 32, 62);
  border: #7fffd4;
}
.button {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #7fffd4;
  background-color: rgb(14, 32, 62);
  color: #7fffd4;
  font-weight: bold;
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
}
#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 5rem;
  color: #7fffd4;
}

.button:hover {
  background-color: #7fffd4;

  color: rgb(14, 32, 62);
}
.section1 #button {
  margin-top: 10px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #7fffd4;
  width: 130px;
  color: rgb(14, 32, 62);
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
}
.section1 #button:hover {
  background-color: rgb(14, 32, 62);
  color: #7fffd4;
  box-shadow: 0px 0px 5px #7fffd4;
}

.home .dev {
  font-weight: bold;
  font-size: 2rem;
  color: #7fffd4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 400px;
  background-color: white;
}
footer .logo img {
  width: 30px;
  border-radius: 2px;
  margin: 10px;
  background-color: #7fffd4;
}
.home .hello {
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
}
.section1  .flexible .about {
  font-size: 3rem;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
}
.section1 .front {
  font-size: 1 rem;
  font-weight: bold;
  color: #7fffd4;
}

.section1 .flexible {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 .end {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
#welcome img {
  width: 150px;
}

.services .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid white;
  line-height: 20px;
}
.services .items:hover {
  box-shadow: 0px 0px 5px #7fffd4;
}
.our {
  font-size: 4rem;
  color: white;
  font-family: "Epilogue", sans-serif;
}
.services button {
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  border:1px solid #7fffd4;
  background-color:  rgb(14, 32, 62);
  width: 130px;
  color:#7fffd4;
  border-radius: 10px;
}
.services button:hover {
  background-color:#7fffd4;
  color:  rgb(14, 32, 62);
  box-shadow: 0px 0px 5px #7fffd4;
}

.services .web {
  font-weight: bold;
  color: #7fffd4;
}
.services p {
  color: white;
  font-weight: lighter;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-items div {
  width: 250px;
}
.services .items i {
  border-radius: 5px;
  width: 30px;
  text-align: center;
  color: #7fffd4;
}
/*media query starts here*/
@media only screen and (max-width: 600px) {
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  nav button {
    padding: 10px;
    width: 130px;
    border-radius: 50px;
    font-weight: bold;
    background-color: #7fffd4;
    border: none;
    color: rgb(14, 32, 62);
    transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home .enter p {
    width: 200px;
    font-size: 13px;
    border-radius: 25px;
  }
  .button {
    width: 100px;
  }
  .name {
    font-size: 3rem;
  }
  .home img {
    width: 150px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .home .dev {
    text-align: center;
  }
  footer {
    width: 100%;
    text-align: center;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section1 .flexible .about {
    font-size: 1rem;
    text-align: center;
  }
  #welcome img {
    width: 100px;
  }
  #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  #welcome p {
    font-size: 2rem;
  }
 
  .section1 .me {
    width: 100%;
  }
  nav p a {
    font-size: 2rem;
  }
  .flexible .end {
    text-align: center;
  }
 .our {
    font-size: 20px;
    text-align: center;
  }
  .flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 100%;
  }
  .items img {
    width: 30px;
  }
  .flex-items div p {
    font-size: 10px;
  }
  .flex-items div {
    text-align: center;
    height: 150px;
  }
  .services p {
    color: white;
    font-weight: lighter;
    font-size: 12px;
  }
  
}
/*media query for second max-width*/

@media only screen and (max-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  nav p a {
    font-size: 2rem;
    margin-left: 5px;
  }
  nav ul li a {
    font-size: 15px;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .our {
    font-size: 2rem;
    text-align: center;
  }

  .flex-items div p {
    font-size: 18px;
  }
  .section1 .about {
    font-size: 1rem;
    text-align: center;
  }
  .section1 #me {
    width: 200px;
  }
  footer {
    width: 100%;
    text-align: center;
  }

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: nowrap;
  }
  .flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .flex-items .items p {
    font-size: 15px;
    text-align: center;
  }

  nav button {
    padding: 10px;
    width: 110px;
  }
}

